h1 {
  color: #4be070;
  text-align: center;
  font-size: 2.5em;
  background-image: linear-gradient(#1679fa, #8d28e0);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  border: 2px solid #1e1fe0;
  box-shadow: 5px 5px 5px black;
}

body {
  background-color: aliceblue;
  background-image: url(images/forest-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Ariel", "sans serif";
  outline: 2px solid #1e1fe0;
  box-shadow: 5px 5px 5px black;
}

caption {
  caption-side: bottom;
  color: #4be070;
  background-color: #8d28e0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td,
tr {
  margin: 0;
  height: 25px;
  width: 5em;
}

td {
  padding-left: 5px;
}

thead {
  background-color: #8d28e0;
  color: #4be070;
  font-size: 1.5em;
}

tbody tr:nth-child(2n) {
  background-color: rgba(158, 204, 217, 1);
}

tbody tr:nth-child(2n + 1) {
  background-color: rgba(209, 231, 237, 1);
}

@media (max-width: 800px) {
  table {
    width: 50%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
    width: 60%;
  }

  thead {
    font-size: 14pt;
  }

  tbody {
    font-size: 10pt;
  }
}
