body {
  background-color: aliceblue;
}

table {
  width: 800px;
  font-family: "Ariel", "sans serif";
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td,
tr {
  margin: 0;
  height: 25px;
}

td {
  padding-left: 5px;
}

thead {
  background-color: rgba(89, 189, 217, 0.5);
}

tr:nth-child(2n) {
  background-color: rgba(158, 204, 217, 0.5);
}

tr:nth-child(odd) {
  background-color: rgba(209, 231, 237, 0.5);
}
